.center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Black.ttf'), 
    url('../fonts/Gilroy-ExtraBold.otf'), 
    url('../fonts/Gilroy-Light.otf'),
  }
  
  .center h1{
    margin: 4px;
  }
  
  .code{
    display: flex;
    width: 100%;
  }
  
  .code div{
    flex: 1;
    text-align: center;
  }
  
  #progress{
    width: 9.090909090909%;
    height: 2px;
    margin-top: 5px;
    background-color: white;
    transition: all 0.5s;
  }
  
  #progress.white{
    background-color: #222;
  }
  
  html,body{
    margin: 0;
    padding: 0;
    background: #111;
    color: white;
    font-family: sans-serif;
    transition: all 0.5s;
  }
  
  html.white,body.white{
    background: #fff;
    color: black;
  }

  .B{
    width: 16.8px;
    height: 16.8px;
  }

  .A{
    width: 16.8px;
    height: 16.8px;
  }
